<div class="container">
  <section class="hero">
      <img src="../../../assets/c.png" alt="Hero Image" />
 
  </section>
  <section class="main-content">
         <div class="caption">
          <h2>online edoucation</h2>
          <p>Learn something new anywhere and anytime</p>
      </div>
      <div class="text-block">
          <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
              enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
              nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
          </p>
      </div>
      <div class="buttons">
          <button mat-stroked-button (click)="login()">login</button>
          <button mat-stroked-button (click)="register()">register</button>
      </div>
  </section>
</div>
