<div class="container">
  <section class="hero">
      <img src="../../../assets/c.png" alt="Hero Image" />
 
  </section>
  <section class="main-content">
         <div class="caption">
          <h2>online</h2>
          <h2>edoucation</h2>
          <p>למד משהו חדש בכל מקום ובכל זמן</p>
      </div>
      <div class="text-block">
          <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
              enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
              nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
          </p>
      </div>
      <div class="buttons">
          <button mat-raised-button>הירשם</button>
          <button mat-stroked-button>ניסיון 30 יום</button>
      </div>
      <div class="read-more">
          <a href="#">קרא עוד</a>
      </div>
  </section>
</div>
