<div class="container">
  <section class="main-content">

    <mat-card class="card">
      <h2>register</h2>

      <form [formGroup]="addUser" class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address">
              </mat-form-field>
       

            <mat-form-field class="example-full-width">
                <mat-label>mail</mat-label>
                <input matInput formControlName="mail">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="mail" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>


<br>
        <button mat-raised-button  (click)="saveUser()">register</button>

      </form>
    </mat-card>
  </section>
  <section class="hero">
    <img src="../../../../assets/b.png" alt="Hero Image" />

  </section>
</div>