<form [formGroup]="addCourse">

<mat-form-field>
    <mat-label>Enter course name</mat-label>
    <input matInput formControlName="nameCourse">
  </mat-form-field>
<mat-form-field>
    <mat-label>Select course category</mat-label>
    <mat-select formControlName="kodeKategory">
      <mat-option value={{category.name}} *ngFor="let category of categories">
        {{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>amountLessons</mat-label>
    <input matInput formControlName="amountLessons">
</mat-form-field>
<mat-form-field>
    <mat-label>startCourseDate</mat-label>
    <input type="date" matInput formControlName="startCourseDate">
</mat-form-field>
<mat-form-field>
    <mat-label>syllabusArr</mat-label>
    <input matInput formControlName="syllabusArr">
</mat-form-field>
<mat-form-field>
    <mat-label>wayLearning</mat-label>
    <mat-select formControlName="wayLearning">
      <mat-option value="zoom">zoom</mat-option>
      <mat-option value="frontaly">frontaly</mat-option>

    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>image</mat-label>
    <input matInput formControlName="image" type="url">
    <img [src]="addCourse.controls['image'].value" *ngIf="addCourse.controls['image'].value" style="max-width: 100px; max-height: 100px;">
  </mat-form-field>
<button mat-raised-button color="primary" (click)="saveCourse()">add course</button>
</form>