<mat-toolbar>
  <span>  <a routerLink="/home">home</a></span>
  <span> <a routerLink="/login">login</a></span>
  <span>  <a routerLink="/register">register</a></span>
  <span>  <a routerLink="/allCourses">allCourses</a></span>
  <span>  <a routerLink="/addCourses">addCourses</a></span>
  <span><a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a>
  </span>
  <span class="spacer">
    <p *ngIf="connect()" style="color: white;">Hello to: {{name}}</p>

  </span>
</mat-toolbar>

<router-outlet></router-outlet>
