<div class="container">
  <section class="main-content">
   
    <mat-card class="card">
      <h2>login</h2>

      <form>
        <mat-form-field class="example-full-width">
          <mat-label>name</mat-label>
          <input [(ngModel)]="username" matInput name="username">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" name="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <mat-checkbox *ngIf="!isInstructor" class="example-margin" [(ngModel)]="isInstructor" (change)="hideCheckbox()">מרצה</mat-checkbox>

        <mat-form-field *ngIf="isInstructor">
          <mat-label>Enter Course Name</mat-label>
          <input matInput name="courseName" [(ngModel)]="courseName">
        </mat-form-field>
        
        <br>
        <button class="buttons" mat-raised-button (click)="checkUser()">login</button>
  
      </form>
    </mat-card>
  </section>
  <section class="hero">
    <img src="../../../../assets/b.png" alt="Hero Image" />

  </section>
</div>